<!DOCTYPE html>
<html lang="en">

<head>
  <title>Calender</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/app.css" />

  <style type="text/css">
    .day {
      height: 5rem;
      text-align: center;
      border-bottom: 1px solid;
      margin: .3rem;
    }
    
    .holiday {
      background: #03A9F4;
      color: white;
      border: 1px solid black;
    }
    
    h1 {
      font-family: Lobster;
    }
    
    .month {
      box-shadow: 1px 1px 1px 1px #8E8888;
      margin-bottom: 5rem;
      padding: 5rem;
      background-size: cover;
    }
  </style>

</head>

<body ng-app="starterApp" layout="column" ng-controller="CalenderController as cal" ng-cloak>

  <md-toolbar layout="row" layout-align="center center">

    <h1 style="font-family:Lobster;">Calender</h1>
  </md-toolbar>


  <md-content id="content" style="overflow-y: scroll;font-family:Raleway;">

    <div layout="column" layout-wrap style="padding:5%;" layout padding>
      <div layout style="text-align:center;margin-bottom:5rem;">
        <h1 flex style="font-family:Lobster;">Year 2013</h1>
      </div>
      <div ng-repeat="it in cal.calender" style="background: url('{{it.img}}');" class="month">
        <h1 style="font-family:Lobster;">{{::it.month}}</h1>
        <div layout layout-wrap layout-padding>
          <div flex="10" class="day" ng-repeat="day in it.days" layout-align="center center" ng-class="{'holiday': day.holidayInfo != null}"
            ng-click="cal.onDayClick(day.id,$event)">

            <div style="font-size:1.8rem;"> {{::day.date}}</div>
            <div ng-if="day.holidayInfo" style="font-size:.8rem;"> {{::day.holidayInfo.name}} </div>
          </div>
        </div>
      </div>
    </div>

  </md-content>

  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-animate/angular-animate.js"></script>
  <script src="../node_modules/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

  <script src="./src/calender/Calender.js"></script>
  <script src="./src/calender/CalenderController.js"></script>
  <script src="./src/calender/CalenderService.js"></script>

  <script src="./src/app.js"></script>

</body>

</html>