<div role="dialog" aria-label="Details" layout="column" layout-align="center center"
 style="width: 35rem;
    font-family: Lobster;
    text-align: center;
    border: 5px solid;">
  <div style="padding:3rem;font-family:Raleway;">
      <h1>{{holiday.name}}</h1>
      <h3>{{date| date :'dd LLLL'}}</h3>
      <p>
         Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam.
                    Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum
                    velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </p>
  </div>
</div>