html, body {
  font-family: 'Raleway', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}


#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}


    .day {
      height: 5rem;
      text-align: center;
      margin: .3rem;
    }
    
    .holiday {
      background: #03A9F4;
      color: white;
      border: 1px solid black;
    }
    
    h1 {
      font-family: Lobster;
    }
    
    .monthHorizontal {
      min-height: 70vh;
      box-shadow: 1px 1px 1px 1px #8E8888;
      margin-top: 1%;
      padding: 3rem 5rem 3rem 5rem;
    }
    .monthVertical {
      box-shadow: 1px 1px 1px 1px #8E8888;
      margin-top: 2%;
      padding: 3rem 5rem 3rem 5rem;
    }
    .hideOverflow{
      overflow-y: hidden;
    }
    .showOverflow{
      overflow-y: scroll;
    }
    .nav-icon{
      text-align: center;
      font-size: 5rem;
      cursor: pointer;
    }
    .fade {
      transition: 1s linear all;
      -webkit-transition: 1s linear all;
    }

    .fade.ng-hide {
      opacity: 0;
    }